<style>

body {
  font-family: "Lato", sans-serif;
}

canvas{
  border:1px solid black;
  background-image: url('stars.jpg');
  background-size: contain;
}


body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}


#timeElapseDiv{

        padding: 1em;
        text-align: center;
        position: absolute;
        display: block;
        border: none;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
}

.objectInfo{
  width: 100%;
  display: block;
  text-decoration: none;

}

.objectInfo:hover{
  background-color: #ddd;
  cursor: pointer;
}

.header{
  width: 100%;
  display: block;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
}

#starFormDiv{
  border: none;
}

#planetFormDiv{
  border: none;
}

#moonFormDiv{
  border: none;
}

#asteroidFormDiv{
  border: none;
}

.topnav {
  overflow: hidden;
  width: 100%;
  /*text-align: center;*/
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
  position: fixed;
  background-color: #333;
}

.topnav a {
  float: center;
  color: #f2f2f2;
  /*text-align: center;*/
  padding: 30px 40px;

  text-decoration: none;
  font-size: 25px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: #333;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.left{
  left:0;
}

.right{
  right:0;
  background-color: white;
  text-align: center;
  transition: 0s;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 13;
  right: 8px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.form-popup {
  display: none;
  position: fixed;
  left: 150px;

}

.form-container {
  color: black;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
  border-top-right-radius: 1em;
  max-width: auto;
  padding: 5px;
  background-color: white;
}

.form-popup settings{
  display: block;
}

.center-form-container {

  color: black;
  border-radius: 1em;
  max-width: auto;
  height: 300px;
  padding: 5px;
  background-color: white;
}

.form-container input[type=text], input[type=number], 
.center-form-container input[type=text], input[type=number],
select{
  width: 65%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=text]:focus, 
.form-container input[type=number]:focus, 
.center-form-container input[type=text]:focus,
.center-form-container input[type=number]:focus,
select:focus{
  background-color: #ddd;
  outline: none;
}

.form-container .btn,
.center-form-container .btn,
.btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 50%;
  margin-bottom:10px;
  opacity: 0.8;
}


.form-container .btn:hover, .open-button:hover,
.center-form-container .btn:hover, .open-button:hover,
.btn:hover {
  opacity: 1;
}

.delete {
  background-color: red;
}

</style>